<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chapter4.mapper.FileMapper">
    <resultMap id="fileMap" type="com.chapter4.entity.TestFile">
        <result property="id" column="id"/>
        <result property="content" column="content" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
    </resultMap>

    <select id="getFile" resultMap="fileMap" parameterType="long">
        SELECT
            id,
            content
        FROM
            t_file
        WHERE
            id=#{id}
    </select>

    <insert id="insertFile" parameterType="com.chapter4.entity.TestFile">
        INSERT INTO
          t_file(content)
        VALUES
         (#{content})
    </insert>
</mapper>