<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatistest.dao.TestDao">

    <resultMap type="com.mybatistest.entity.TestEntity" id="resultListTestEntity">
        <id column="testint" property="id"/>
        <result property="testchar" column="testchar"/>
        <result property="testvarchar" column="testvarchar"/>
        <result column="time" property="time" javaType="java.util.Date" jdbcType="VARCHAR" typeHandler="com.mybatistest.handle.DateTypeHandler"/>
    </resultMap>

    <select id="selectById" parameterType="int" resultType="com.mybatistest.entity.TestEntity">
		select
			*
		from test
		where testint = #{testint}
	</select>

    <insert id="save" parameterType="com.mybatistest.entity.TestEntity" useGeneratedKeys="true" keyProperty="id">
		insert into test(
			testint,
		    testchar,
		    testvarchar)
		values(
			#{testint},
			#{testchar},
			#{testvarchar})
	</insert>

    <update id="update" parameterType="com.mybatistest.entity.TestEntity">
        update test set
        <set>
            <if test="testchar != null">testchar = #{testchar}, </if>
            <if test="testvarchar != null">testvarchar = #{testvarchar}</if>
        </set>
        where testint = #{testint}
    </update>

    <delete id="delete" parameterType="int">
		delete from test where testint = #{testint}
	</delete>

</mapper>