<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chapter5.mapper.TaskMapper">

    <select id="getTask" parameterType="long" resultType="task">
            SELECT
                id,
                title,
                context,
                note
            FROM
                t_task
            WHERE
                id = #{id}
    </select>
</mapper>