<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chapter5.mapper.WorkCardMapper">

    <select id="getWorkCardByEmpId" parameterType="long" resultType="workCard">
            SELECT
                id,
                emp_id,
                real_name AS realName,
                department,
                mobile,
                POSITION AS position,
                note
            FROM
                t_work_card
            WHERE
                emp_id = #{empId}
    </select>
</mapper>